<div class="wrapper">
  <div class="side-bar">
    <div class="form-input">
      <input class="form-message" placeholder= "何週間の減量？">
      <input class="form-message" placeholder= "いま体重何キロ？">
    </div>
  <input class="form-submit" type="submit" value="送信">
</div>

  <div class="result">
    <div class="box-card">
      <div>1週目</div>
      <div>体重１kg減らして</div>
      <div>体重99kgになる</div>

    </div>
    <div class="box-card">BOX</div>
    <div class="box-card">BOX</div>
    <div class="box-card">BOX</div>
    <div class="box-card">BOX</div>
    <div class="box-card">BOX</div>
    <div class="box-card">BOX</div>
    <div class="box-card">BOX</div>
  </div>
</div>
